.color-bg, .footer-main {
    background: #666;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #666;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 206, 206), rgb(255, 150, 150));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 206, 206), rgb(255, 150, 150));
}

.footer-main {
    padding: 1em;
}

html, body {
    height: 100%;
}


