.color-bg, .footer-main {
    background: #FFAA00;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #FFAA00;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 238, 0, 1), rgba(255, 170, 0, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 238, 0, 1), rgba(255, 170, 0, 1))
}

.footer-main {
    padding: 1em;
}

html, body {
    height: 100%;
}


