
/*header text*/
#topHeader {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  font-size: 25px;
  padding-left: 10px;
 
  color:indianred;

}
/*search page wrapper div*/
#wrapper{
  position: relative;
  background-color: lightgrey;
  color: black;
  width: 50%;
  height: 100%;
  margin: auto;
  border: 1px ridge white;
}

/*****search header******/
.purchase_header{
  background-color: gray;
  margin-left: 20%;
  padding-top: 1px;
  height: 50px;
} 
/*****body*******/
body {
  font-family: "Lato", sans-serif;
}
/***********side navigation********/
.sidenav {
  /*height: auto;*/
  margin-left: 20%;
  width: 15%; /*width of nav page*/
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: indianred;
  overflow-x: hidden;
  padding-top: 5px;
  border: ridge 1px white;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(164, 164, 164);
  display: block;
  border-top: ridge 1px lightgrey;
  margin: 5px;
 
}

.sidenav a:hover {
  color: black;
}

/************main**********/
.main {
  margin-left: 22%; /* Set left margin the same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/*************PERSONAL INFO ******/
.form-group{
    font-size: 1.5vw;
}


  /************DELIVERY OR PICKUP PAGE*************/
.option_div{
    
    border:2px ridge white;
    width:100%;
    background-color: rgb(243, 216, 216);
    padding: 10px;

  }
.transport_header{
  background-color: gray;
  margin:-10px;
  margin-left: -30px;
  padding-top: 1px;
  height: 50px;
  border: 2px ridge white;
  
}
#transport{
    color: indianred;
    font-weight: bolder;
    margin-left: 20px;
}
/********label for radio button**** */
.option_label{
    border: 1px;
    font-weight: bold;
}

